@import './global';
@import './variables';

.header{
    background-color: black;
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    &__content{
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
    }
}

.btn{
    height: 50px;
    border-radius: 10px;

    &__group{
        width: 20%;
        display: flex;
        justify-content: space-evenly;
    }
}

.wrapper{
    &__intro{
        color: white;
        margin-top: 150px;
    }
}